@import '../mixines';

.block {
  display: flex;
  position: relative;

  @include phone {
    justify-content: space-between;
  }

  &__media {

    @include desktop {
      margin-bottom: 880px;

      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 270px;

      &_desktop,
      &_phone {
        display: none;
      }
    }

    @include phone {
      margin-bottom: 140px;

      &_desktop,
      &_tablet {
        display: none;
      }
    }
  }

  &__sound {

    @include desktop {
      margin-bottom: 450px;

      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 346px;

      &_desktop,
      &_phone{
        display: none;
      }
    }

    @include phone {
      margin-bottom: 180px;

      &_desktop,
      &_tablet {
        display: none;
      }
    }
  }

  &__video {

    @include desktop {
      margin-bottom: 835px;

      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 600px;

      &_desktop,
      &_phone{
        display: none;
      }
    }

    @include phone {
      margin-bottom: 48px;

      &_desktop,
      &_tablet {
        display: none;
      }
    }
  }

  &__podcast {

    @include desktop {
      margin-bottom: 350px;

      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 448px;

      &_desktop,
      &_phone{
        display: none;
      }
    }

    @include phone {
      margin-bottom: 90px;

      &_desktop,
      &_tablet {
        display: none;
      }
    }
  }

  &__project {

    @include desktop {
      margin-bottom: 560px;

      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 474px;

      &_desktop,
      &_phone{
        display: none;
      }
    }

    @include phone {
      margin-bottom: 200px;

      &_desktop,
      &_tablet {
        display: none;
      }
    }
  }

  &__you {
    margin-bottom: 483px;

    @include desktop {
      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      &_desktop,
      &_phone{
        display: none;
      }
    }

    @include phone {
      margin-bottom: 500px;

      &_desktop,
      &_tablet {
        display: none;
      }
    }
  }
}

.leftBlock {
  min-width: 35%;
  position: relative;

  &__sound {

    @include desktop {
      padding-top: 145px;
    }
  }

  &__project {

    @include desktop {
      padding-top: 348px;
    }

    @include tablet {
      padding-top: 16px;
    }
  }

  &__you {

    @include desktop {
      padding-top: 50px;
    }

    @include tablet {
      padding-top: 100px;
    }
  }
}



