@import '../mixines';

.block {
  display: flex;
  position: relative;

  &__media {

    @include desktop {
      margin-bottom: 880px;

      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 270px;

      &_desktop,
      &_phone {
        display: none;
      }
    }

    @include phone {
      //margin-bottom: 190px;

      &_desktop,
      &_tablet {
        display: none;
      }
    }
  }

  &__sound {

    @include desktop {
      margin-bottom: 450px;

      &_tablet {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 346px;

      &_desktop {
        display: none;
      }
    }
  }

  &__video {

    @include desktop {
      margin-bottom: 835px;

      &_tablet {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 600px;

      &_desktop {
        display: none;
      }
    }
  }

  &__podcast {

    @include desktop {
      margin-bottom: 350px;

      &_tablet {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 448px;

      &_desktop {
        display: none;
      }
    }
  }

  &__project {

    @include desktop {
      margin-bottom: 560px;

      &_tablet {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 474px;

      &_desktop {
        display: none;
      }
    }
  }

  &__you {

    @include desktop {
      &_tablet {
        display: none;
      }
    }

    @include tablet {
      &_desktop {
        display: none;
      }
    }
  }
}

.leftBlock {
  min-width: 35%;
  position: relative;

  &__media {

    @include tablet {
      //padding-top: 310px;
    }
  }

  &__sound {

    @include desktop {
      padding-top: 145px;
    }
  }

  &__project {

    @include desktop {
      padding-top: 348px;
    }

    @include tablet {
      padding-top: 16px;
    }
  }

  &__you {

    @include desktop {
      padding-top: 50px;
    }

    @include tablet {
      padding-top: 100px;
    }
  }
}



