@import '../variables';

.block {
  display: flex;

  &__media {
    margin-bottom: 880px;
  }

  &__sound {
    margin-bottom: 450px;
  }

  &__video {
    margin-bottom: 835px;
  }

  &__podcast {
    margin-bottom: 350px;
  }

  &__project {
    margin-bottom: 560px;
  }

  &__you {
  }
}

.leftBlock {
  flex-basis: 35%;

  &__sound {
    padding-top: 145px;
  }

  &__project {
    padding-top: 348px;
  }

  &__you {
    padding-top: 50px;
  }
}



