@import '../mixines';

.big-wrap {
  position: relative;
  width: 100%;
  background: $color-white;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 115px;

  @include tablet {
    padding-top: 60px;
  }

  @include phone {
    padding-top: 135px;
  }
}

.subtitle {
  position: relative;

  @include desktop {
    @include subtitle;
  }

  @include tablet {
    @include subtitle-tablet;
  }

  @include phone {
    @include subtitle-phone;
  }

  &_fixed {
    position: relative;
    z-index: 100;
    width: 35%;

    @include desktop {
      margin-top: 447px;
    }

    @include tablet {
      margin-top: 90px;
    }

    @include phone {
      margin-top: 100px;
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;

  @include desktop {
    width: 92%;
    margin: 0 4%;
    bottom: 5%;
  }

  @include tablet {
    flex-direction: column-reverse;
    bottom: 9%;
    left: 10%;
  }

  @include phone {
    flex-direction: column-reverse;
    bottom: 9%;
    left: 10%;
  }

  &__right {
    display: flex;

    @include tablet {
      flex-direction: column;
    }

    @include phone {
      flex-direction: column;
    }
  }

  &__link {
    @include druk;
    color: $color-black;
    font-size: 1em;
    line-height: 1.2px;
    mix-blend-mode: difference;

    @include tablet {
      margin-top: 3.1em;
    }

    @include phone {
      margin-top: 10px;
      font-size: 10px;
      line-height: 12px;
    }

    &_email {
      left: 10%;
    }

    &_cloud {
      margin-left: 38px;

      @include tablet {
        margin-left: 0;
      }

      @include phone {
        margin-left: 0;
      }
    }
  }
}

