@import '../mixines';

.big-wrap {
  position: relative;
  width: 100%;
  background: $color-white;
  display: flex;
  flex-direction: column;
}

.bcg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../assets/images/bcg-image.jpg) no-repeat;
  background-size: cover;
  //transition: opacity 0.5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 523px;

  @include tablet {
    padding-top: 60px;
  }
}

.subtitle {
  position: absolute;

  @include desktop {
    @include subtitle;
  }

  @include tablet {
    @include subtitle-tablet;
  }

  &_fixed {
    position: relative;
    //position: fixed;
    margin-top: 447px;
    //top: 447px;
    //left: calc((100% - #{$desktop-container}) / 2);
    z-index: 100;

    @include tablet {
      margin-top: 200px;
      //left: calc((100% - #{$tablet-container}) / 2);
    }
  }

  //&_you {
  //
  //  @include desktop {
  //    //width: 420px;
  //  }
  //}
}

.links {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;

  @include desktop {
    width: 92%;
    margin: 0 4%;
    bottom: 5%;
  }

  @include tablet {
    flex-direction: column-reverse;
    bottom: 9%;
    left: calc((100% - #{$tablet-container}) / 2);
  }

  &__right {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &__link {
    @include druk;
    color: $color-black;
    font-size: 1em;
    line-height: 1.2px;
    mix-blend-mode: difference;

    @include tablet {
      margin-top: 3.1em;
    }

    &_email {
      left: 10%;
    }

    &_cloud {
      margin-left: 38px;

      @include tablet {
        margin-left: 0;
      }
    }
  }
}

