@import '../variables';

.big-wrap {
  position: relative;
  width: 100%;
  height: 7190px;
  background: $colorWhite;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
}

.leftBlock {
  flex-basis: 35%;
  padding-top: 523px;
}

.subtitle {
  @include subtitle;

  &_fixed {
    position: fixed;
    top: 447px;
    left: (100% -1200px);
    z-index: 100;
  }

  &_media {
    margin-bottom: 1458px;
  }

  &_sound {
    margin-bottom: 1455px;
  }

  &_video {
    margin-bottom: 976px;
  }

  &_podcast {
    margin-bottom: 926px;
  }

  &_project {
    margin-bottom: 1170px;
  }
}

.links {
  width: 92%;
  margin: 0 4%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 950px;

  &__right {
    display: flex;
  }

  &__link {
    @include druk;
    color: $colorBlack;
    font-size: 18px;
    line-height: 22px;

    &_email {
      left: 10%;
    }

    &_cloud {
      margin-left: 38px;
    }
  }
}

