@import '../mixines';

.right-block {
  flex: 1;

  &__singletext {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: $color-text;

    @include tablet {
      font-size: 28px;
      line-height: 35px;
    }

    &_media {
      padding-top: 159px;

      @include tablet {
        padding-top: 140px;
      }
    }
  }

  &__sound {
    display: flex;
    flex-direction: column;

  }

  &__podсast {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
  }

  &__you {
    font-size: 64px;
    line-height: 80px;
    color: $color-text;
    margin-bottom: 483px;
  }

  &__part {
    flex-basis: 46%;
  }

  &__item {

    @include desktop {
      margin-bottom: 5.3em;
    }

    @include tablet {
      margin-bottom: 3.5em;
    }
  }

  &__item-title {
    text-transform: capitalize;
    @include title;

    @include desktop {
      font-size: 64px;
      line-height: 78px;
      margin-bottom: 18px;
    }

    @include tablet {
      font-size: 37px;
      line-height: 45px;
      margin-bottom: 10px;
    }
  }

  &__item-text {

    @include desktop {
      line-height: 29px;
    }

    @include tablet {
      font-size: 11px;
      line-height: 18px;

      &_podcast {
        font-size: 18px;
        line-height: 29px;
      }
    }
  }

  &__wrap {

    @include desktop {
      width: 780px;
    }

    @include tablet {
      width: 470px;
    }
  }
}

