@import '../mixines';

.right-block {
  flex: 1;

  &__singletext {
    font-weight: 600;
    font-size: 2.25em;
    line-height: 1.25em;
    color: $color-text;

    @include tablet {
      font-size: 28px;
      line-height: 35px;
    }

    &_media {
      padding-top: 159px;

      @include tablet {
        padding-top: 557px;
      }
    }
  }

  &__sound {
    display: flex;

    @include desktop {
      flex-direction: column;
    }

    @include tablet {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__podсast {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
  }

  &__you {
    font-size: 4em;
    line-height: 1.3em;
    color: $color-text;
    margin-bottom: 483px;
  }

  &__part {
    flex-basis: 46%;
  }

  &__item {

    @include desktop {
      margin-bottom: 5.3em;
    }

    @include tablet {
      flex-basis: 46%;
      margin-bottom: 3.5em;
    }
  }

  &__item-title {
    text-transform: capitalize;

    @include desktop {
      @include title;
      font-size: 64px;
      line-height: 78px;
      margin-bottom: 18px;
    }

    @include tablet {
      font-size: 24px;
      line-height: 20px;
      color: $color-title;
      margin-bottom: 20px;
    }
  }

  &__item-text {
    line-height: 29px;
  }
}

.wrap {
  width: 780px;
}
