@import '../variables';

.right-block {
  flex: 1;
  //padding-top: 636px;

  &__singletext {
    font-weight: 600;
    font-size: 2.25em;
    line-height: 1.25em;
    color: $colorText;

    &_media {
      padding-top: 159px;
    }
  }

  &__sound {
    display: flex;
    flex-direction: column;
  }

  &__podсast {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
  }

  &__you {
    font-size: 4em;
    line-height: 1.3em;
    color: $colorText;
    margin-bottom: 483px;
  }

  &__part {
    flex-basis: 46%;
  }

  &__item {
    margin-bottom: 5.3em;

  }

  &__item-title {
    @include title;
    font-size: 4em;
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: 18px;
  }

  &__item-text {
    line-height: 1.612em;
    font-size: 1.125em;
  }
}
