@import '../mixines';

.big-text {
  position: relative;
  z-index: 10;
  @include title;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include desktop {
    font-size: 64px;
    margin-bottom: 30px;
  }

  @include tablet {
    font-size: 36px;
    margin-bottom: 20px;
  }

  @include phone {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include desktop {
      margin-top: -412px;
    }

    @include phone {
      padding-top: 20px;
    }
  }

  &__arrow-wrap {
    position: absolute;
    top: 0;
    right: 0;
    mix-blend-mode: difference;

    @include tablet {
      display: none;
    }

    @include phone {
      display: none;
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;

    @include desktop {
      margin-bottom: 66px;

      &:focus .big-text {
        text-decoration-line: underline;
      }

      &:focus .big-text__image-wrap {
        display: flex;
      }

      &:focus .big-text__arrow-wrap {
        z-index: 10;
      }

      @media (hover), (min--moz-device-pixel-ratio:0) {

        &:hover .big-text {
          text-decoration-line: underline;
        }

        &:hover .big-text__image-wrap {
          display: flex;
        }

        &:hover .big-text__arrow-wrap {
          z-index: 10;
        }
      }
    }

    @include tablet {
      flex-direction: column;
      margin-bottom: 20px;
    }

    @include phone {
      flex-direction: column;
      margin-bottom: 20px;
    }

    &_tele {

      @include desktop {
        margin-bottom: 0;
      }
    }
  }

  &__image-wrap {

    @include desktop {
      display: none;
      position: absolute;
      right: -150px;
      top: 10px;
      max-width: 460px;
      align-items: flex-end;
    }

    @include tablet {
      flex-direction: column;
      margin-bottom: 30px;
      max-width: 448px;
    }

    @include phone {
      flex-direction: column;
      margin-bottom: 30px;
      max-width: 141px;
    }
  }

  &__image {

    @include desktop {
      width: 209px;
      position: absolute;
      top: 0;
      right: 40px;

      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      &_desktop,
      &_phone {
        display: none;
      }
    }

    @include phone {
      &_tablet,
      &_desktop {
        display: none;
      }
    }
  }

  &__image-text {
    position: relative;
    z-index: 10;
    mix-blend-mode: difference;
    color: #ffffff;

    @include tablet {
      margin-bottom: 20px;
    }

    @include phone {
      margin-bottom: 10px;
    }
  }

  &__link-project {
    mix-blend-mode: difference;
    color: $color-white;

    @include desktop {

      &_narrow {
        width: 60%;
      }
    }
  }
}


