@import '../mixines';

.big-text {
  position: relative;
  z-index: 10;
  @include title;
  cursor: pointer;
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include desktop {
    font-size: 72px;
    margin-bottom: 0.6em;
  }

  @include tablet {
    font-size: 36px;
    margin-bottom: 85px;
  }

  @include phone {
    font-size: 14px;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include phone {
      padding-top: 20px;
    }
  }

  &__arrow-wrap {
    position: absolute;
    top: 27%;
    right: 44%;
    mix-blend-mode: difference;

    @include tablet {
      display: none;
    }

    @include phone {
      display: none;
    }
  }

  &__wrap {
    position: relative;
    display: flex;

    @include desktop {
      &:focus .big-text {
        text-decoration-line: underline;
      }

      &:focus .big-text__image-wrap {
        display: flex;
      }

      &:focus .big-text__arrow-wrap {
        z-index: 10;
      }

      @media (hover), (min--moz-device-pixel-ratio:0) {

        &:hover .big-text {
          text-decoration-line: underline;
        }

        &:hover .big-text__image-wrap {
          display: flex;
        }

        &:hover .big-text__arrow-wrap {
          z-index: 10;
        }
      }
    }

    @include tablet {
      flex-direction: column;

      &:focus {
        outline: transparent;
      }

      &:focus .big-text {
        text-decoration-line: underline;
        margin-bottom: 20px;
      }

      &:focus .big-text__image-wrap {
        display: flex;
      }

      @media (hover), (min--moz-device-pixel-ratio:0) {

        &:hover .big-text {
          text-decoration-line: underline;
          margin-bottom: 20px;
        }

        &:hover .big-text__image-wrap {
          display: flex;
        }
      }
    }

    @include phone {
      flex-direction: column;

      &:focus {
        outline: transparent;
      }

      &:focus .big-text {
        text-decoration-line: underline;
        margin-bottom: 20px;
      }

      &:focus .big-text__image-wrap {
        display: flex;
      }
    }
  }

  &__image-wrap {
    display: none;

    @include desktop {
      position: absolute;
      right: -346px;
      top: -70px;
      max-width: 460px;
      align-items: flex-end;
    }

    @include tablet {
      flex-direction: column;
      margin-bottom: 30px;
      max-width: 448px;
    }

    @include phone {
      flex-direction: column;
      margin-bottom: 30px;
      max-width: 141px;
    }
  }

  &__image {
      max-width: 100%;

    @include desktop {
      &_tablet,
      &_phone {
        display: none;
      }
    }

    @include tablet {
      &_desktop,
      &_phone {
        display: none;
      }
    }

    @include phone {
      &_tablet,
      &_desktop {
        display: none;
      }
    }
  }

  &__image-text {
    margin-left: 8px;
    font-size: 18px;
    line-height: 17px;
    mix-blend-mode: difference;
    color: #ffffff;

    @include tablet {
      font-size: 14px;
      line-height: 18px;
      margin: 10px 0 0;
      padding-right: 70px;
    }

    @include phone {
      font-size: 13px;
      line-height: 18px;
      margin: 10px 0 0;
    }
  }
}


