@import 'variables';
@import 'mixines';

html,
body {
  height: 100%;
  font-size: 18px;
  line-height: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


input,
textarea,
button,
select {
  outline: none;
}

a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  position: relative;
  margin: 0 auto;

  @include desktop() {
    max-width: $desktop-container;
  }

  @include tablet() {
    max-width: $tablet-container;
  }

  @include phone() {
    max-width: $phone-container;
  }
}


svg path {
  fill: inherit;
}

.invisible {
  opacity: 0;
}

