@import 'variables';

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin phone {
  @media screen and (min-width: $phone-width) and (max-width: $tablet-width - 1px) {
    @content;
  }
}

@mixin druk {
  font-family: 'Druk Wide Medium', sans-serif;
}

@mixin title {
  @include druk;
  font-weight: 500;
  color: $color-white;
  mix-blend-mode: difference;
  text-transform: uppercase;
}

@mixin subtitle {
  @include title;
  font-size: 32px;
  line-height: 39px;
}

@mixin subtitle-tablet {
  @include title;
  font-size: 25px;
  line-height: 30px;
}

@mixin subtitle-phone {
  @include title;
  font-size: 13px;
  line-height: 16px;
}

